/* PAGE */


html, body {
  height: 100%;
  background-color: #201D28;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-inputs-group {
  flex-direction: row;
  display: flex;
}

.register-label {
  font-family: Boogaloo;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 60px;
  margin-bottom: 60px;
  
  color: #FFFFFF;
}

.register-btn {
  background: #73B816;
  border-radius: 6.26484px;
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 8px;
  box-shadow: 0px 5px #5D9314;
  width: 140px;
  margin-top: 30px;
  font-size: 18px;
}

.name-input {
  background: rgba(32, 29, 40, 0.23);
  border-radius: 6.11463px;
  background-color: #2C2A34;
  border: none;
  margin-bottom: 20px;
  height: 50px;
  font-size: 32px;
  color: gray;
  font-family: Boogaloo;
  margin-right: 30px;
}

.stake-input {
  background: rgba(32, 29, 40, 0.23);
  border-radius: 6.11463px;
  background-color: #2C2A34;
  border: none;
  margin-bottom: 20px;
  height: 50px;
  font-size: 32px;
  color: gray;
  font-family: Boogaloo;
}