@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.userItem {
    font-size: 10px;
}

.title-front {
    font-family: Boogaloo;
    font-size: 62px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #73B816;
    margin-top: 180px;
    margin-bottom: 20px;

}

.user-list-input {
    background: rgba(32, 29, 40, 0.23);
    border-radius: 6.11463px;
    background-color: #2C2A34;
    border: none;
    height: 40px;
    font-size: 22px;
    color: gray;
    font-family: Boogaloo;
    outline: none;
}

input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.lobby-header {
    position: relative;
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.lobby-header button {
    right: 0;
    bottom: 5px;
}

.user-list {
    border-radius: 10px;
    margin-top: 50px;
    padding: 0px 0px 10px 0px;
    width: 400px;
}

.user-list-value {
    font-family: Roboto;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    width: 90px;

    color: #FFFFFF;
}

.user-list-title {
    font-family: Boogaloo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: #FFFFFF;
}

.waiting-btn {
    padding: 2px !important;
}

.user-list-body {
    overflow: auto;
    height: 350px;
}

.btn-profile {
    background: #73B816;
    border-radius: 6.26484px;
    font-family: Boogaloo;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    width: 120px;
    padding: 8px;
    box-shadow: 0px 5px #5D9314;
    font-size: 14px;
    margin-top: 40px;
}

.btn-profile:active {
    background-color: #73B816;
    box-shadow: 0 2px #5D9314;
    transform: translateY(3px);
}

.btn-matches:active {
    background-color: #73B816;
    box-shadow: 0 2px #5D9314;
    transform: translateY(3px);
}

.btn-matches {
    background: #73B816;
    border-radius: 6.26484px;
    font-family: Boogaloo;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    width: 120px;
    padding: 8px;
    box-shadow: 0px 5px #5D9314;
    font-size: 14px;
    margin-top: 40px;
}

.user-list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15px;
    z-index: 1;
}

.user-list-name {
    font-family: Boogaloo;

    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 50px;

    color: #FFFFFF;
}

.user-list-btn {
    background: #FF3546;
    border-radius: 7.28352px;

    font-family: Boogaloo;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    box-shadow: 0px 5px #BB2A36;
    width: 110px;
    outline: none;
}

.user-list-btn-grey {
    background: #B7B7B7;
    border-radius: 7.28352px;

    font-family: Boogaloo;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    box-shadow: 0px 5px #7E7E7E;
    width: 110px;
    outline: none;
    cursor: not-allowed;
}

.user-list-btn:active {
    background-color: #FF3546;
    box-shadow: 0 2px #BB2A36;
    transform: translateY(3px);
}

.user-list-id {
    font-family: Roboto;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #C6C6C6;
}

.logo {
    width: 268px;
    height: 67px;
    background: url('../images/logo.png') center center no-repeat;
    /*margin-top: 40px;*/
    margin: 40px auto 0;
}

.left-ship {
    background: url('../images/ship_left.svg') center center no-repeat;
    width: 533px;
    height: 533px;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
}

.lobby-list {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
}

.right-ship {
    background: url('../images/ship_right.svg') center center no-repeat;
    width: 549px;
    height: 549px;
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    pointer-events: none;
    z-index: 0;
}

.lobby-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    position: relative;
}

::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FF3546;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    border-radius: 10px;
    background: #FF3546;
}

.eth-text {
    font-family: Boogaloo;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.2;
}

.waiting-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.loader-margin {
    margin-top: 20px;
}

.user-list-header {
    display: flex;


    font-family: Roboto;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    opacity: 0.2;
}

.id-text {
    margin-left: 20px;
    width: 40px;
    text-align: center;
}

.nickname-text {
    width: 80px;
    text-align: center;
}

.match-text {
    width: 100px;
    text-align: center;
}

.warning-input {
    border: solid 2px red;
}