@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.modal-content {
    padding: 50px 70px 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title {
    font-family: Boogaloo;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 30px;

    color: #FFFFFF;
}

.modal-input-eth {
    background: rgba(32, 29, 40, 0.23);
    border-radius: 6.11463px;
    background-color: #2C2A34;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-size: 26px;
    color: gray;
    font-family: Boogaloo;
    width: 190px;
    box-shadow: 0px 0px 1px 2px;
}

.modal-create-btn {
    background: #73B816;
    border-radius: 6.26484px;
    color: #FFFFFF;
    border: none;
    padding: 10px 14px 10px 14px;
    box-shadow: 0px 5px #5D9314;
    font-family: Boogaloo;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.end-game-content {
  padding: 10px 50px 10px 50px;
}

.end-game-title {
  padding: 0px;
}

.create-game-modal {
  padding: 10px 120px 10px 120px;
}

.modal-small-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 12px;

  color: #FFFFFF;
}

.modal-warning-text {
  font-family: Roboto;
  font-style: italic;

  font-size: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;

  color: #C6C6C6;
}

.lds-ring-small {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring-small div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  margin: 6px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring-small div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring-small div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring-small div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.two-btn-row {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.modal-decline-btn {
  background: #FF3546;
  border-radius: 6.26484px;
  color: #FFFFFF;
  border: none;
  padding: 10px 14px 10px 14px;
  box-shadow: 0px 5px #BB2A36;
  font-family: Boogaloo;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  