@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.match-title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Boogaloo;
    font-size: 52px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: #73B816;
}

.match-header {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Boogaloo;
    color: white;
    border-bottom: solid white 2px;
}

.match-item {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Boogaloo;
    color: white;
}

.match-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.match-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}


tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.back-btn-pos {
    top: 58px;
}

.btn-timeout {
    background: #73B816;
    border-radius: 6.26484px;
    font-family: Boogaloo;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 6px;
    box-shadow: 0px 5px #5D9314;
    font-size: 14px;
    outline: none;
}

.match-item td {
    padding: 12px 12px 0px 12px;
    text-align: left;
    font-family: Boogaloo;
    z-index: 4;
}

.green {
    color: #73B816;
}

.red {
    color: #FF3546;
}

.grey {
    color: grey;
}