@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

.board {
    padding: 12px;
    background: #302E38;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 10px #24202E;
    margin: 30px 30px 30px 90px;
}

.waiting-board {
    opacity: 0.5;
}

.board-title {
    font-family: Boogaloo;

    font-size: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}

.turn-text {
    font-family: Boogaloo;

    font-size: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-right: 40px;

    color: rgba(255, 255, 255, 0.5);
}

.grey-text-medium {
    height: 31px;
    font-family: Boogaloo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.score-text {
    font-family: Boogaloo;
    font-size: 56px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.match-info-row {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.match-info-row > div {
    flex: 1 1 100%;
}

.submit_btn {
    margin-top: 50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.board-area {
    display: flex;
    flex-direction: row;
}

.match-board {
}

.field {
    height: 49px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    width: 54px;
    background: #2C2A34;
    border-radius: 10px;
    margin: 9px 4px 4px;
    box-shadow: 0 -5px #292731;
    justify-content: center;
}

.field.not-chosen:hover {
    background: url('../images/green_ship.svg') center center no-repeat;
    box-shadow: none;
    cursor: pointer;
    opacity: 0.5;
    height: 54px;
    margin: 4px;
}

.field.not-chosen:hover > .pin {
    display: none;
}

.pin {
    margin-top: -4px;
    background: #292731;
    border-radius: 6px;
    width: 12px;
    height: 12px;
}

.pin:after {
    content: '';
    display: block;
    background: #201D28;
    border-radius: 50%;
    width: 12px;
    height: 8px;
    margin-top: 4px;
}

.slot-field {
    height: 54px;
    display: -ms-flexbox;
    background: url('../images/green_ship.svg') center center no-repeat;
    box-shadow: none;
    border-radius: 10px;
}

.choosen {
    height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    background: url('../images/green_ship.svg') center center no-repeat;
    box-shadow: none;
    border-radius: 10px;
    margin: 4px;
    justify-content: center;
    cursor: pointer;
}

.field-miss {
    height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    background: url('../images/miss_field.svg') center center no-repeat;
    box-shadow: none;
    border-radius: 10px;
    margin: 4px;
    justify-content: center;
}

.field-hit {
    height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    background: url('../images/green_skull.svg') center center no-repeat;
    box-shadow: none;
    border-radius: 10px;
    margin: 4px;
    justify-content: center;
}

.red-choosen {
    height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    border-radius: 10px;
    margin: 4px;
    justify-content: center;
    background: url('../images/target.svg') center center no-repeat;
    box-shadow: none;
}

.red-question-choosen {
    height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    border-radius: 10px;
    margin: 4px;
    justify-content: center;
    background: url('../images/question_mark.svg') center center no-repeat;
    box-shadow: none;
}

.field-hit-red {
    height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    border-radius: 10px;
    margin: 4px;
    justify-content: center;
    background: url('../images/red_skull.svg') center center no-repeat;
    box-shadow: none;
}

.red-field {
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    /*background: rgba(32, 29, 40, 0.23);*/
    border-radius: 10px;
    /*box-shadow: 2px 5px;*/
    justify-content: center;
    opacity: .9;
}

.red-field:not(.nohover):hover {
    cursor: pointer;
    background: url('../images/target.svg') center center no-repeat;
    box-shadow: none;
    margin: 4px;
    height: 54px;

}

.no-hover-field {
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    background: rgba(32, 29, 40, 0.23);
    border-radius: 10px;
    justify-content: center;
}

.red-field:not(.nohover):hover > .pin {
    display: none;
}

.next-btn {
    background: #FF3546;
    border-radius: 7.28352px;

    font-family: Boogaloo;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    box-shadow: 0px 5px #BB2A36;
    width: 140px;
    margin: 18px 0px 40px 360px;
}

.title {
    font-family: Barlow Condensed;
    font-size: 52px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #C6C6C6;
    margin-top: 40px;
}

.instruction {
    font-family: Boogaloo;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grey-btn {
    background: #B7B7B7 !important;
    box-shadow: 0px 5px #898989 !important;
    cursor: not-allowed;
    outline: none;
}

.score-area {
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    flex-direction: column;
}

.my-fields {
    height: 54px;
    display: -ms-flexbox;
    background: url('../images/green_ship.svg') center center no-repeat;
    box-shadow: none;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}

.opponent-fields {
    height: 54px;
    display: -ms-flexbox;
    background: url('../images/red_ship.svg') center center no-repeat;
    box-shadow: none;
    border-radius: 10px;
    margin: 10px 0px 0px 8px;
}

.slots {
    padding-top: 42px;
    width: 60px;
    display: flex;
    flex-direction: column;
}

.score-tiles {
    margin-left: 40px;
}

.fun-fact {
    margin-top: 40px !important;
}

.timer-area {
    display: flex;

}