
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

.board {
  padding: 18px;
  background: #302E38;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  box-shadow: 1px 10px #24202E;
  margin-left: 40px;
}

.submit_btn {
  margin-top: 50px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.board-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slot-field {
  height: 54px;
    display: -ms-flexbox;
    width: 54px;
    background: url('../images/green_ship.svg') center center no-repeat;
    border-radius: 10px;
    box-shadow: 0px 3px #5D9314;
    margin: 10px 0px 0px 25px;
}

.choosen {
  height: 54px;
  text-align: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  width: 54px;
  background: url('../images/green_ship.svg') center center no-repeat;
  border-radius: 10px;
  margin: 3px;
  justify-content: center;
}

.red-choosen {
  height: 54px;
  text-align: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  width: 54px;
  border-radius: 10px;
  margin: 3px;
  justify-content: center;
  background: url('../images/target.svg') center center no-repeat;
}

.red-field {
  height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    width: 54px;
    background: rgba(32, 29, 40, 0.23);
    border-radius: 10px;
    margin: 3px;
    box-shadow: 2px 5px;
    justify-content: center;
}

.red-field:hover {
  cursor: pointer;
  background: url('../images/target.svg') center center no-repeat;

}

.red-field:hover > .pin {
    display: none;
}

.next-btn {
  background: #FF3546;
  border-radius: 7.28352px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 12px;
  box-shadow: 0px 5px #BB2A36;
  width: 140px;
  margin: 18px 0px 0px 290px;
}

.title {
  font-family: Barlow Condensed;
  font-size: 52px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #C6C6C6;
  margin-top: 40px;
}

.instruction {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #73B816;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
  }
  

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
  }
  
  /* content */
  .field {
    height: 54px;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    width: 54px;
    background: rgba(32, 29, 40, 0.23);
    border-radius: 10px;
    margin: 3px;
    box-shadow: 2px 5px;
    justify-content: center;
  }
  
.field:hover {
    background: url('../images/green_ship.svg') center center no-repeat;
    cursor: pointer;
  }

.field:hover > .pin {
    display: none;
}

  .pin {
    background: #201D28;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    box-shadow: 0px 2px;
  }
